h1, h2, h3 {
    margin-top: 0;
    padding-top: 20px;
}

#smiley-face {
    float: right;
    width: 300px;
    height: 300px;
}


/* --- Leads overview page --- */

.page-acrocrm-leads-overview #page-wrapper {
    padding-left:10px;
    padding-top:10px;
}

#leads-list .input-group {
    padding: 10px;
    background-color: #fafafa;
    border: 1px solid #ddd;
    display: block;
}

#leads-list .input-group input.form-control {
    max-width: 80%;
}

#leads-list .list-group-item {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

#leads-list #set-priority {
    display: inline;
}