html, body {
    height: 100%;
}

#page-wrapper {
    overflow: auto;
}

textarea:focus, input:focus{
    outline: none;
}

*:focus {
    outline: none;
}

.tooltip {
    position: fixed;
}

h1, h2, h3 {
    margin-top: 0;
    padding-top: 20px;
}

.navbar-static-top {
    z-index: 0;
}

#smiley-face {
    float: right;
    width: 300px;
    height: 300px;
}

#overlay-content {
    padding: 0;
}

/* --- Leads overview page --- */

.page-acrocrm-leads-overview #page-wrapper {
    padding: 10px 10px 0px 10px;
}

.filter-header {
    padding: 10px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    display: block;
}

.lead-list-error-box {
    width: 100%;
    height: 110px;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    border: 1px solid #ddd;
}

#lead-search ul {
    list-style: none;
    padding: 5px 0;
}

.page-header {
    padding-bottom: 9px;
    margin: 15px 0 20px;
    border-bottom: 1px solid #eee
}

.form-item label {
    margin-bottom: 5px;
    padding: 0;
}

input.form-submit {
    font-family: inherit;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

#leads-list .list-group-item, .sales-rep-list .list-group-item {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

#leads-list .list-group-item:first-of-type, .sales-rep-list .list-group-item:first-of-type {
    border-top: none !important;
}

.lead-search-dropdown-check {
    margin-right: 5px;
}

.priority-text {
    font-size: 10px;
    line-height: 20px;
}

.set-priority {
    display:inline;
}

.ui-accordion-header {
    cursor: pointer;
}

.ui-sortable-handle {
    /*margin: 30px 0px;*/
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}

.search-spinner {
    width: 14px;
    height: 14px;
    display: none;
}

.ball-indicator {
    background-size: 14px 14px;
    height: 14px;
    width: 14px;
    display: inline-block;
}

.grey-ball {
    background-image: url("../images/grey-ball.png");
}

.green-ball {
    background-image: url("../images/green-ball.png");
}

.yellow-ball {
    background-image: url("../images/yellow-ball.png");
}

.red-ball {
    background-image: url("../images/red-ball.png");
}

/*.header-accordion:hover > div {*/
    /*display: block;*/
/*}*/
.unassigned-lead, .unapproved-lead, .unapproved-lead > h5 {
    cursor: move;
}

.no-assigned-leads {
    margin-top: 5px;
}

#leads-list > .list-group-item {
    background-color: transparent;
}

.sales-rep > h4 {
    display: inline-block;
    padding: 10px 15px;
    width: 100%;
    margin: 0px;
}

.sales-rep > h4:hover, .sales-rep-open {
    background-color: #dddddd;
}

.sales-rep-closed {
    background-color: #f8f8f8;
}

.sales-rep-hover {
    background-color: transparent !important;
}

.sales-rep-list > .list-group-item {
    padding: 0px;
}

.sales-rep-lead-list {
    margin: 0px 15px 18px 15px !important;
    padding-top: 10px !important;
    /*border-top: 1px dashed #ddd !important;*/
}

.sales-rep-lead-list > .list-group-item {
    border: none;
    padding: 0px 0px 0px 10px;
    background-color: transparent;
}

.sales-rep-lead-list > .list-group-item .btn {
    margin-top: -4px;
}

.ui-state-highlight {
    outline: 1px solid #5cb85c;
    background-color: #f3fff3 !important;
    height: auto;
    width: auto;
    z-index: 100;
}

.ui-accordion .ui-accordion-content {
    overflow: auto;
}

/*.ui-accordion-header {*/
    /*cursor: move;*/
/*}*/

.dragging-lead {
    border: 1px dashed #555555;
    background-color: #ffffff;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.priority-indicator {
    background-color: #71bfe8;
    padding: 0px 10px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    color: #ffffff;
    font-size: 12px;
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
}

.high-priority {
    background-color: #e3574d;
}

.med-priority {
    background-color: #f6bf19;
}

.low-priority {
    background-color: #84c46b;
}