h1, h2, h3 {
    margin-top: 0;
    padding-top: 20px;
}

#smiley-face {
    float: right;
    width: 300px;
    height: 300px;
}

/* --- UI SORT -- */

#draggable h3 {
    color: #3f903f;
}

ul#sortable {
    list-style-type: none
}

#sortable li {
    margin: 5px;
    padding: 5px;
    width: 150px;
    border: 1px solid;
}

#sortable .ui-sort-highlight {
    background-color: #c1e2b3;
}
